<template>
  <div class="container">
    <b-card title="Login" class="mt-5">
      <b-form @submit.prevent="login" class="mt-3">
        <b-form-input
          v-model="username"
          type="text"
          name="username"
          id="username"
          placeholder="Usuario"
        />
        <b-form-input
          v-model="password"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          class="mt-3"
        />
        <div class="d-flex flex-column justify-content-center mt-3">
          <b-button variant="primary" type="submit" :disabled="isDisabled">
            Acceder
          </b-button>
          <b-button
            variant="link"
            class="btn-sm mt-2 p-0"
            @click="$router.push('register')"
          >
            Registrate
          </b-button>
        </div>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  data() {
    return { username: '', password: '' };
  },
  computed: {
    isDisabled() {
      return !this.username || !this.password;
    },
  },
  methods: {
    ...mapMutations(['setUser', 'setToken']),
    async login() {
      const response = await fetch('http://localhost:4000/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          username: this.username,
          password: this.password,
        }),
      });

      const status = await response.status;

      // http validations
      if (status === 200) {
        const { token, user } = await response.json();
        this.setToken(token);
        this.setUser(user);
        localStorage.token = token;
        localStorage.user = JSON.stringify(user);
        this.$router.push('/home');
      } else if (status === 403) {
        const { message } = await response.json();
        alert(message);
      } else {
        alert('Ocurrio un error inesperado. Por favor intentalo mas tarde.');
      }
    },
  },
};
</script>

<style scoped>
div.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
