<template>
  <div class="container">
    <b-card title="Registro" class="mt-5">
      <b-form @submit.prevent="register" class="mt-3">
        <b-form-input
          v-model="username"
          type="text"
          name="username"
          id="username"
          placeholder="Usuario"
        />
        <b-form-input
          v-model="name"
          type="text"
          name="name"
          id="name"
          placeholder="Nombre"
          class="mt-3"
        />
        <b-form-input
          v-model="password"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          class="mt-3"
        />
        <div class="d-flex flex-column justify-content-center mt-3">
          <b-button variant="primary" type="submit" :disabled="isDisabled">
            Registrate
          </b-button>
          <b-button
            variant="link"
            class="btn-sm mt-2 p-0"
            @click="$router.push('login')"
          >
            Tengo una cuenta
          </b-button>
        </div>
      </b-form>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return { username: '', password: '', name: '' };
  },
  computed: {
    isDisabled() {
      return !this.username || !this.name || !this.password;
    },
  },
  methods: {
    async register() {
      const response = await fetch('http://localhost:4000/auth/sign-up', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          name: this.name,
          username: this.username,
          password: this.password,
        }),
      });

      const status = await response.status;
      const { message } = await response.json();

      // http validations
      if (status === 200) {
        alert(message);
        this.$router.push('/login');
      } else if (status === 409) {
        alert(message);
      } else {
        alert('Ocurrio un error inesperado. Por favor intentalo mas tarde.');
      }
    },
  },
};
</script>

<style scoped>
div.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
