<template>
  <div class="fullWidth p-3">
    <Header />
    <div class="container">
      <b-card title="Agregar prospecto" class="mt-5">
        <b-form @submit.prevent="createProspect">
          <b-form-input
            v-model="name"
            type="text"
            name="name"
            id="name"
            placeholder="Nombre"
          />
          <b-form-input
            v-model="birthday"
            type="date"
            name="birthday"
            id="birthday"
            placeholder="Fecha de nacimiento"
            class="mt-3"
          />
          <b-form-input
            v-model="email"
            type="text"
            name="email"
            id="email"
            placeholder="Correo electronico"
            class="mt-3"
          />
          <div class="d-flex flex-row justify-content-around mt-3">
            <b-button
              variant="primary"
              type="submit"
              class="btn-sm"
              :disabled="isDisabled"
            >
              Agregar
            </b-button>
            <b-button
              variant="danger"
              class="btn-sm"
              @click="$router.push('/home')"
            >
              Cancelar
            </b-button>
          </div>
        </b-form>
      </b-card>
    </div>
  </div>
</template>

<script>
import Header from './Header';

export default {
  components: {
    Header,
  },
  data() {
    return { name: '', birthday: '', email: '' };
  },
  computed: {
    isDisabled() {
      return !this.name || !this.birthday || !this.email;
    },
  },
  methods: {
    async createProspect() {
      const response = await fetch('http://localhost:4000/prospect/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Authorization: this.$store.state.token,
        },
        body: JSON.stringify({
          name: this.name,
          birthday: this.birthday,
          email: this.email,
        }),
      });

      const status = await response.status;
      const { message } = await response.json();

      // http validations
      if (status === 200) {
        alert(message);
        this.$router.push('/home');
      } else if (status === 409) {
        alert(message);
      } else {
        alert('Ocurrio un error inesperado. Por favor intentalo mas tarde.');
      }
    },
  },
};
</script>

<style scoped>
.fullWidth {
  width: 100%;
}
div.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
