<template>
  <div class="fullWidth p-3">
    <Header />
    <div class="container">
      <b-card class="mt-5 detail-card">
        <div class="d-flex justify-content-center mt-3 mb-4">
          <p class="h3">
            <strong>
              {{ name }}
            </strong>
          </p>
        </div>
        <div class="d-flex flex-row mt-2">
          <p class="h5 prospect-key">
            <strong>
              Fecha de nacimiento:
            </strong>
          </p>
          <p class="h6 mt-1">{{ birthday }}</p>
        </div>
        <div class="d-flex flex-row mt-2">
          <p class="h5 prospect-key">
            <strong>
              Correo:
            </strong>
          </p>
          <p class="h6 mt-1">{{ email }}</p>
        </div>
        <div class="d-flex flex-row mt-2">
          <p class="h5 prospect-key">
            <strong>
              Estatus:
            </strong>
          </p>
          <p class="h6 mt-1">{{ status }}</p>
        </div>
        <div class="d-flex flex-row mt-2">
          <p class="h5 prospect-key">
            <strong>
              Fecha de creación:
            </strong>
          </p>
          <p class="h6 mt-1">{{ created_at }}</p>
        </div>
        <div class="d-flex flex-row justify-content-around mt-3">
          <b-button variant="outline-primary" @click="showUpdateForm">
            Editar
          </b-button>
          <b-button variant="outline-primary" @click="viewHistory">
            Historial
          </b-button>
        </div>
      </b-card>
      <b-card v-if="prospectEditing" class="mt-5 detail-card">
        <div class="d-flex justify-content-center mt-3 mb-4">
          <p class="h3">
            <strong>
              Actualizar prospecto
            </strong>
          </p>
        </div>
        <b-form @submit.prevent="updateProspect">
          <div class="d-flex justify-content-center">
            <p class="h5 prospect-key mt-2">
              <strong>
                Estatus:
              </strong>
            </p>
            <b-form-select v-model="statusSelected" :options="options" />
          </div>
          <div class="d-flex flex-row justify-content-around mt-3">
            <b-button
              variant="outline-primary"
              type="submit"
              :disabled="isDisabled"
            >
              Actualizar
            </b-button>
            <b-button variant="outline-danger" @click="showUpdateForm">
              Cancelar
            </b-button>
          </div>
        </b-form>
      </b-card>
      <b-button variant="outline-secondary mt-5" @click="$router.push('/home')">
        <i class="fa fa-home" />
        Regresar
      </b-button>
    </div>
  </div>
</template>

<script>
import Header from './Header';

export default {
  components: {
    Header,
  },
  data() {
    return {
      prospectEditing: false,
      name: '',
      birthday: '',
      email: '',
      status: '',
      created_at: '',
      statusSelected: '',
      options: [
        { value: 'Nuevo', text: 'Nuevo' },
        { value: 'En seguimiento', text: 'En seguimiento' },
        { value: 'Atendido', text: 'Atendido' },
        { value: 'Rechazado', text: 'Rechazado' },
      ],
    };
  },
  computed: {
    isDisabled() {
      return this.status === this.statusSelected;
    },
  },
  methods: {
    showUpdateForm() {
      const { prospect } = this.$route.params;

      if (!this.prospectEditing) this.statusSelected = prospect.status;
      this.prospectEditing = !this.prospectEditing;
    },
    viewHistory() {
      this.$router.push({
        name: 'historic',
        params: { emailProspect: this.email },
      });
    },
    async updateProspect() {
      const response = await fetch('http://localhost:4000/prospect/update', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Authorization: this.$store.state.token,
        },
        body: JSON.stringify({
          email: this.email,
          status: this.statusSelected,
        }),
      });

      const status = await response.status;

      // http validations
      if (status === 200) {
        const { updatedProspect, message } = await response.json();
        this.status = updatedProspect.status;
        alert(message);
        this.$router.push('/home');
      } else if (status === 409) {
        const { message } = await response.json();
        alert(message);
      } else {
        alert('Ocurrio un error inesperado. Por favor intentalo mas tarde.');
      }
    },
  },

  async created() {
    const { prospect } = this.$route.params;
    if (!prospect) {
      this.$router.push('/home');
    }
    this.name = prospect.name;
    this.birthday = prospect.birthday;
    this.status = prospect.status;
    this.email = prospect.email;
    this.created_at = prospect.created_at;
  },
};
</script>

<style scoped>
.fullWidth {
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail-card {
  width: 500px;
}
.prospect-key {
  margin-right: 7px;
}
</style>
