<template>
  <div>
    <div class="d-flex justify-content-end logout-container">
      <b-button variant="danger" @click="logout">
        <i class="fa fa-sign-out" aria-hidden="true" />
        Cerrar sesión
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  methods: {
    ...mapMutations(['setUser', 'setToken']),
    logout() {
      this.setUser();
      this.setToken();
      localStorage.token = '';
      localStorage.user = '';
      this.$router.push('/login');
    },
  },
};
</script>

<style scoped>
.logout-container {
  width: 100%;
}
</style>
