<template>
  <div class="prospect-container">
    <div class="fullWidth">
      <Header />
    </div>
    <p class="h1 mb-5">Historial de cambios</p>
    <div class="table">
      <b-table
        striped
        hover
        outlined
        :items="historicItems && historicItems"
        :fields="fields"
      />
    </div>
    <b-button variant="outline-secondary mt-5" @click="$router.push('/home')">
      <i class="fa fa-home" />
      Inicio
    </b-button>
  </div>
</template>

<script>
import Header from './Header';

export default {
  components: {
    Header,
  },
  data() {
    return {
      historicItems: null,
      fields: [
        {
          key: 'prospect_email',
          label: 'Correo del prospecto',
        },
        {
          key: 'old_status',
          label: 'Estatus anterior',
        },
        {
          key: 'new_status',
          label: 'Estatus actualizado',
        },
        {
          key: 'updated_by',
          label: 'Usuario que realizo el cambio',
        },
      ],
      items: [],
    };
  },
  async created() {
    const { emailProspect } = this.$route.params;
    const endpoint = 'http://localhost:4000/historic/';

    const response = await fetch(
      emailProspect ? `${endpoint}${emailProspect}` : endpoint,
      {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          Authorization: this.$store.state.token,
        },
      },
    );

    const status = await response.status;

    if (status === 200) {
      const { historic } = await response.json();
      this.historicItems = historic;
    } else if (status === 204) {
      alert(
        emailProspect
          ? 'Aun no se ha modificado este prospecto.'
          : 'El historial esta vacio',
      );
      this.$router.push('/home');
      this.prospectList = [];
    } else {
      alert('Ocurrio un error inesperado. Por favor intentalo mas tarde.');
    }
  },
};
</script>

<style scoped>
.fullWidth {
  width: 100%;
}
div.prospect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
div.table {
  width: 60%;
}
</style>
