<template>
  <div class="prospect-container">
    <div class="fullWidth">
      <Header />
    </div>
    <p class="h1 mb-5">Clientes prospecto</p>
    <div class="table">
      <b-table
        striped
        hover
        outlined
        :items="prospectList && prospectList"
        :fields="fields"
      >
        <template #cell(action)="data">
          <b-button variant="outline-secondary" @click="viewDetail(data.item)">
            Ver detalles
          </b-button>
        </template></b-table
      >
    </div>
    <div class="d-flex flex-row justify-content-around mt-3 button-container">
      <b-button variant="primary" @click="$router.push('create-prospect')">
        Agregar prospectos
      </b-button>
      <b-button variant="secondary" @click="$router.push('historic')">
        Ver historial de cambios
      </b-button>
    </div>
  </div>
</template>

<script>
import Header from './Header';

export default {
  components: {
    Header,
  },
  data() {
    return {
      prospectList: null,
      fields: [
        {
          key: 'name',
          label: 'Nombre',
        },
        {
          key: 'email',
          label: 'Correo',
        },
        {
          key: 'status',
          label: 'Estatus',
        },
        {
          key: 'action',
          label: 'Acción',
        },
      ],
      items: [],
    };
  },
  methods: {
    async viewDetail(prospect) {
      this.$router.push({
        name: 'detailProspect',
        params: { prospect },
      });
    },
  },

  async created() {
    const response = await fetch('http://localhost:4000/prospect/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        Authorization: this.$store.state.token,
      },
    });

    const status = await response.status;

    // http validations
    if (status === 200) {
      const { prospectList } = await response.json();
      this.prospectList = prospectList;
    } else if (status === 204) {
      alert('La lista de prospectos esta vacía');
      this.prospectList = [];
    } else {
      alert('Ocurrio un error inesperado. Por favor intentalo mas tarde.');
    }
  },
};
</script>

<style scoped>
.fullWidth {
  width: 100%;
}
div.prospect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
div.table {
  width: 60%;
}
.button-container {
  width: 60%;
}
</style>
